.api__back{
    background: linear-gradient(to left , var(--blue_color) 50% , #b9c1cc 50%);
    border-radius: 0.5rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 1rem;
    
    
}
.api__me{
    display: grid;
    grid-template-rows: auto auto;
   
    align-items: flex-start;
    background-color: #ffff;
    margin: 2rem 8rem 2rem 8rem;
    padding: 2rem;
    gap: 6rem;
    border-radius: 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 16px 16px;
    

}
.api__title{
    font-size: 4rem;
    
  

}
.api__title i{
    padding-left: 2.2rem;
    font-size: 5rem;
}
.api__user{
    
}
.searchs{
    display: grid;
    grid-template-columns: 2fr auto;
    
    row-gap: 2rem;
   
    border-bottom: 0.5rem solid #BDF9C7;
    
    
}


.icon__search{
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--blue_color)
   
}
.icon__search:hover{
    
  color: #BDF9C7;
    
    
    
  
}
 #inputName{
     border: transparent;
     padding: 1rem;  

 } 
 

#lab{
    color: darkblue;
    font-size: 2rem;
  
    
}

.api__show{
    
    background-color:  white;
    font-size: 2rem;
    border-radius: 1rem;
    
    margin: 8rem;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 16px 16px;
    
}
.show{
    border: 0.5rem solid #BDF9C7;  
    padding: 2rem;
    border-radius: 1rem;
}
.show__user{
    
    
 
 
   
}
.avatar{
 
    
    
}
.photo img{
    
    border: solid 0.2rem var(--blue_color);
    width: 50%;
    height: auto;
    border-radius: 50%;
    padding: 0.5rem;
    margin-left: 3rem;
    background-color: white;
    
    

}
.photo img:hover{
    transform: scale(1.2);
}
.show__details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
   
  
}
.show__details--top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
   
    
}
.show__details--bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3rem;
  
}
.show{
    display: flex;
    flex-direction: row;

}

.user__Followers{
   
}

.disign{
    color: gray;
}



.show__user--login{
    display: inline;
    text-decoration: none;
    
    
}