.api__back{
    background: linear-gradient(to left , var(--blue_color) 50% , #b9c1cc 50%);
    
    
    
    padding: 1rem;
    
}
.api__me{
    display: grid;
    grid-template-rows: auto auto;
   
    align-items: flex-start;
    background-color: #ffff;
    margin: 2rem 8rem 2rem 8rem;
    padding: 2rem;
    gap: 6rem;
    border-radius: 0.8rem;
    

}
.api__title{
    font-size: 4rem;
    display: flex;
  

}
.api__title i{
    padding-left: 2rem;
    font-size: 5rem;
}
.api__user{
    
}
.searchs{
    display: grid;
    grid-template-columns: 2fr auto;
    
    row-gap: 2rem;
   
    border-bottom: 0.5rem solid #BDF9C7;
    
    
}


.icon__search{
    font-size: 2.5rem;
    
    color: darkblue;
   
}
.icon__search:hover{
    
  color: #BDF9C7;
    
    
    
  
}
 #inputName{
     border: transparent;
     padding: 1rem;  

 } 
 

#lab{
    color: darkblue;
    font-size: 2rem;
  
    
}

.api__show{
    
    background-color: white;
    font-size: 2rem;
    border-radius: 1rem;
    
    margin: 8rem;
    padding: 2rem;
}
.show{
    border: 0.5rem solid #BDF9C7;  
    padding: 2rem;
    border-radius: 1rem;
}
.show__user{
    color: darkblue;
    font-size: 2rem;
    width: 100%;
 
   
}
.avatar{
 
    
    
}
.photo img{
    
    border: solid 0.2rem var(--blue_color);
    width: 55%;
    height: auto;
    border-radius: 50%;
    padding: 1rem;
    background-color: white
    

}
.show__details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
   
  
}
.show__details--top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    
}
.show__details--bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

   
    
}
.show{
    display: flex;
    flex-direction: row;



}
.post{
    
    
